<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NBasicExtensionMethod" version="1.0.4554.34582" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <package id="NFeature" version="1.0.4554.36812" targetFramework="net45" />
  <package id="NFeature.Configuration" version="1.0.4554.36639" targetFramework="net45" />
  <package id="NHelpfulException" version="1.0.4554.34109" targetFramework="net45" />
  <package id="NSure" version="1.0.4554.34428" targetFramework="net45" />
</packages>